*{
    font-family: 'Malgun Gothic','Helvetica Neue', Helvetica, Arial, '�룍��', Dotum;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

.button{
    color: #777777;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding:0 10px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.container{
    display: block;
    width: 1170px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

.incontainer{
    margin: 0px 5px 20px 5px;
}

/** NAV **/
.topbar{
    font-size: 16px;
    background-color: #f8f8f8;
	border-bottom: 1px solid #ddd;
}
.btn-right{
    float: right;
}
.mainbar{
    padding:15px 0;
}
.wrapper{
    display: table;
}
.brand{
    padding: 0 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.phone-wrapper{
    padding: 20px 40px;
    display: table-cell;
    width: 1170px;
    text-align: right;
}
.phone{
    vertical-align: middle;
    text-align: right;
    font-size: 25px;
    font-weight: 900;
}
.phone span{
    color: #f15c5c;
}
.navbar{
    font-size: 16px;
    background-color: #4F86C6;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid #0075c8;
}
.navbar .container{
    height: 50px;
}
.navbarInner{
    margin: 0 auto;
}
.navbarInner li{
    width:13.3%;
    height: 50px;
    display: inline-block;
}
.navbarUl a{
    text-align: center;
    text-decoration: none;
    height: 50px;
    color:#ffffff;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 20px;
    position: relative;
    display: block;
    padding: 15px 15px;  
}
.navbarUl a:hover{
    color: #EFDC05;
}

/** FOOTER **/
.footer{
    margin-top: 10px;
    display:block;
}
.footbar{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #f8f8f8;
}
.btnGroup{
    font-size: 14px;
    vertical-align: middle;
}
.footer .content{
    color:#cccccc;
    background-color: #566270;
    min-height: 180px;
    padding:10px 0;
}
.footer .incontainer{
    min-height: 180px;
}
.foot-content{
    padding: 10px 0;
}
.splitThree{
    font-size: 14px;
    float: left;
    width: 33.33333%;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.splitThree li{
    padding: 2px 0;
}
.footer::after{
    clear:both;
}


/** CONTENT FOR MAIN **/
.content{
    min-height: 350px;
}
.content .container{
    min-height: 180px;
}
#sliderWrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 360px;
}
#sliderWrapper ul#slider{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#sliderWrapper ul#slider li{
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
}
#sliderWrapper ul#slider li img{
    display: block;
    width: 100%;
    height: 100%;
}
.sliderBtns{
    position: absolute;
    width: 200px;
    height: 100%;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
#previous span{
    position: absolute;
    top: 40%;
    margin-left: -30px;
}
#next span{
    position: absolute;
    top: 40%;
    margin-right: -30px;
}
.sliderBtns:hover {
    background: rgba(0, 0, 0, 0.1);
}
#next {
    right: -100%;
    left: auto;
    color: #eee;
}
#previous {
    left: -100%;
    color: #eee;
}
#sliderWrapper:hover #next{
    right:0;
}
#sliderWrapper:hover #previous{
    left:0;
}
#sliderPagination{
    min-width: 20px;
    margin-top: 330px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    position: relative;
    text-align: center;
}
#sliderPagination ul{
    width: 100%;
}
#sliderPagination ul li{
    margin: 0 4px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: relative;
    top: 0;
}
#sliderPagination ul li.active {
    width: 12px;
    height: 12px;
    top: 3px;
    opacity: 1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}
#sliderWrapper ul, #sliderPagination ul li{
    -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}
.splitFour{
    font-size: 14px;
    float: left;
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.borderer{
    margin-bottom: 15px;
    border: 1px solid #ddd;
    vertical-align: middle;
}
.borderer img{
    vertical-align: middle;
}
.splitNone{
    width: 100%;
}
.pannel{
    border-color: #ddd;
    border:1px solid #ddd;
    border-radius: 4px;
}
.pannelHead{
    height: 50px;
    color:#333333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding:10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.pannelTitle{
    font-size: 20px;
    margin-top:3px;
    padding-left: 10px;
    float: left;
}
.pannelMore a{
    float:right;
    vertical-align: center;
    margin-top: 5px;
    background-color: #0075c8;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.pannelMore a:hover{
    background-color: #E53A40;
}
.pannelContent{
    margin: 15px;
}
.splitSeven{
    display: inline-block;
    font-size: 14px;
    max-width: 13.7%;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.splitSeven img{
    margin:0;
    padding:5px; 
    border:1px solid #ddd;
}
.split20{
    float: left;
    padding-left: 40px;
    padding-right: 80px;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: "20%";
    border-right: 1px solid #999;
}
.imageCont{
    width:80px;
    height:80px;
    margin-bottom: 18px;
}
.split80{
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 80%;
    vertical-align: middle;
}
.siteEmphasize{
    padding: 45px 0;
}
.siteEmphasize span{
    font-size: 17px;
    font-weight: 700;
}

/** CONTENT FOR INTRODUCE & WAY **/
.article{
    margin:10px 0;
    padding: 25px;
    border: 1px solid #e9e9e9;
}
.articleHead{
    font-size: 25px;
    margin-bottom: 20px;
}
.articleBody{
    border-top: 1px solid #e9e9e9;
    padding-top: 20px;
    height: 430px;
}
.split33{
    float: left;
    width: 33.3%;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.split33 img{
    max-width: 100%;
    height: auto;
}
.split66{
    float: left;
    width: 66.6%;
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.split66 h2,h3{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}
.split66 h2{
    margin-top: 20px;
    color:#0075c8;
    font-size: 30px;
    font-weight: 500;
    text-emphasis: none;
}
.split66 p{
    margin-bottom: 10px;
}
.articleBody::after{
    clear: both;
}
.mapContainer{
    margin: auto;
    padding: 10px 25px;
}

/** CONTENT FOR NOTICE **/

.Content-container102{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 90px;
}
.introduction102{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}
.Header-container102{
    padding-bottom : 1px;
    margin-right: 40px 0 20px;
    border-bottom: 1px solid rgb(175, 170, 170);
    
}
.Content-containerB102{
    display: inline-block;
    margin-top: 100px;
    text-align: center;
}
#dsds102{
    width: 1000px;
    
}
.Make-Button102{
    display: inline-block;
    margin-left: 900px;
}
.Make102{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.Make102:hover{
    color:white;
    background-color: transparent; /*留덉슦�뒪 �삱由щ㈃ 而ㅼ꽌諛붾��*/
}
.Search-container102 {
    margin-bottom: 50px;
    border-left-width: 0;
    border-right-width: 0;
}
.FormList102{
    font-size: 13px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 7px;

}
.Search-bar102{
    font-size: 13px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    padding-top: 2px;
    
}
.Search-button102{
    font-size: 13px;
    margin-top: 20px;  
    padding-left: 10px;
    padding-right: 11px;
    padding-bottom: 5px;
    
}
.Make102{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.Make102:hover{
    color:white;
    background-color: transparent; /*留덉슦�뒪 �삱由щ㈃ 而ㅼ꽌諛붾��*/
}

/** CONTENT FOR NOTICERESULT **/

.Content-container101{
    display: block;
    width: 970px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.Header-container101{
    margin-left: 20px;
}
.Write-Info101{
    display: block;
    padding-bottom: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.subject{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.desc{
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Malgun Gothic', '�룍��', Dotum;
    color: #999;
    font-size: 14px;
}
.desc2{
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Malgun Gothic', '�룍��', Dotum;
    position: relative;
    top: -1px;
    color: #999;
}

.Admin-Content101{
    margin-top: 20px;
    margin-left: 20px;
}
.User-Coment101{
    margin-left: 20px;
    margin-top: 100px;
    padding: 5px 10px;
    border: 1px solid #e5e8ec;
    background: #f5f8f9;
}
.no-coments101{
    border-top: 1px dotted #ccc;
}

.textArea101{
    margin-left: 20px;
    width: 950px;
}
.back-button101{    
    margin-top: 20px;
    min-height: 40px;
}
.back-inbutton101{
    float: right;
}
.back101{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.back101:hover{
    color:white;
    background-color: transparent; /*留덉슦�뒪 �삱由щ㈃ 而ㅼ꽌諛붾��*/
}

.reply101{
    color: black;
    
    text-decoration: none;
}
.reply101:hover{
    color:white;
    background-color: transparent; /*마우스 올리면 커서바뀜*/
}

.replyDelete101{
    color: black;
    
    text-decoration: none;
}
.replyDelete101:hover{
    color:white;
    background-color: transparent; /*마우스 올리면 커서바뀜*/
}

.replyModify101{
    color: black;
    
    text-decoration: none;
}
.replyModify101:hover{
    color:white;
    background-color: transparent; /*마우스 올리면 커서바뀜*/
}
.modify101{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.modify101:hover{
    color:white;
    background-color: transparent; /*留덉슦�뒪 �삱由щ㈃ 而ㅼ꽌諛붾��*/
}
.delete101{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.delete101:hover{
    color:white;
    background-color: transparent; /*留덉슦�뒪 �삱由щ㈃ 而ㅼ꽌諛붾��*/
}

/** CONTENT FOR CUSTOMERCOUNSELING **/

.Content-container103{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.introduction103{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}
.Header-container103{
    padding-bottom : 1px;
    margin-right: 40px 0 20px;
    border-bottom: 1px solid rgb(175, 170, 170);
}
.Content-containerZ103{
    display: inline-block;
    margin-top: 100px;
    text-align: center;
}
#dsds103{
    width: 1000px;
}
.Make-Button103{
    display: inline-block;
    margin-left: 900px;
}
.Make103{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.Make103:hover{
    color:white;
    background-color: transparent; /*留덉슦�뒪 �삱由щ㈃ 而ㅼ꽌諛붾��*/
}
.Search-container103 {
    margin-bottom: 50px;
    border-left-width: 0;
    border-right-width: 0;
}
.FormList{
    font-size: 13px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 7px;
}
.Search-bar103{
    font-size: 13px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    padding-top: 2px;
}
.Search-button103{
    font-size: 13px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 11px;
    padding-bottom: 5px;
}
.Make103{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.Make103:hover{
    color:white;
    background-color: transparent; /*留덉슦�뒪 �삱由щ㈃ 而ㅼ꽌諛붾��*/
}

/** CONTENT FOR COUNSELINGRESULT **/

.Content-container104{
    display: block;
    width: 970px;
   padding-right: 0px;
   padding-left: 0px;
   margin-right: auto;
   margin-left: auto;
}
.Header-container104{
    margin-left: 20px;
}
.Write-Info104{
    display: block;
    padding-bottom: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.subject104{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.desc104{
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Malgun Gothic', '�룍��', Dotum;
    color: #999;
    font-size: 14px;
}
.descZ104{
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Malgun Gothic', '�룍��', Dotum;
    position: relative;
    top: -1px;
    color: #999;
}
.Admin-Content104{
    margin-top: 20px;
    margin-left: 20px;
}
.User-Coment104{
    margin-left: 20px;
    margin-top: 100px;
    padding: 5px 10px;
    border: 1px solid #e5e8ec;
    background: #f5f8f9;
}



.no-coments104{
    border-top: 1px dotted #ccc;
}

.textArea104{
    margin-left: 20px;
    width: 950px;
}

.back-button104{
    margin-top: 20px;
    min-height: 40px;
}
.back-inbutton104{
    float: right;
}
.back104{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.back104:hover{
    color:white;
    background-color: transparent; /*留덉슦�뒪 �삱由щ㈃ 而ㅼ꽌諛붾��*/
}

.reply104{
    color: black;
    
    text-decoration: none;
}
.reply104:hover{
    color:white;
    background-color: transparent; /*마우스 올리면 커서바뀜*/
}


.replyDelete104{
    color: black;
    
    text-decoration: none;
}
.replyDelete104:hover{
    color:white;
    background-color: transparent; /*마우스 올리면 커서바뀜*/
}

.replyModify104{
    color: black;
    
    text-decoration: none;
}
.replyModify104:hover{
    color:white;
    background-color: transparent; /*마우스 올리면 커서바뀜*/
}
.modify104{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.modify104:hover{
    color:white;
    background-color: transparent; /*留덉슦�뒪 �삱由щ㈃ 而ㅼ꽌諛붾��*/
}
.delete104{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.delete104:hover{
    color:white;
    background-color: transparent; /*留덉슦�뒪 �삱由щ㈃ 而ㅼ꽌諛붾��*/
}

/** CONTENT FOR DRAWUP **/

.Content-container{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 90px;
}
.Content-container2{
    display: inline-block;
    margin-top: 20px;
}
.Header-container{
    padding-bottom : 1px;
    margin-right: 40px 0 20px;
    border-bottom: 1px solid rgb(175, 170, 170);
}
.introduction{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}
.Info-container{ /*�씠由�,鍮꾨�踰덊샇 �룷�븿 而⑦뀒�씠�꼫*/
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.Info1{ /*�씠由� �씪踰�, �씠由� �뀓�뒪�듃�궃 �룷�븿 div*/
    display: inline-block;
    margin-right: 34px;
}
.Info_Name{ /*�씠由� �씪踰�*/
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 20px;
    padding-right: 20px;

    border:ridge; /*�뀒�몢由� 紐⑥뼇*/
    border-top-width: 2px; /*�뀒�몢由� 援듦린*/
    border-bottom-width: 2px; /*�뀒�몢由� 援듦린*/
    border-left-width: 2px; /*�뀒�몢由� 援듦린*/
    border-right-width: 2px; /*�뀒�몢由� 援듦린*/

    border-top-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-top-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
}
.Name_content{ /*�씠由� �뀓�뒪�듃�궃*/
    padding-top: 8px;
    padding-bottom: 5px;
    width:400px;
}
.Info2{ /*鍮꾨�踰덊샇 �씪踰�, 鍮꾨�踰덊샇 �뀓�뒪�듃�궃 �룷�븿 div*/
    display: inline-block;
}
.Info_Password{ /*鍮꾨�踰덊샇 �씪踰�*/
    padding: 4px;
    border:ridge; /*�뀒�몢由� 紐⑥뼇*/
    border-top-width: 2px; /*�뀒�몢由� 援듦린*/
    border-bottom-width: 2px; /*�뀒�몢由� 援듦린*/
    border-left-width: 2px; /*�뀒�몢由� 援듦린*/
    border-right-width: 2px; /*�뀒�몢由� 援듦린*/
    border-top-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-top-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
}
.Password_content{ /*鍮꾨�踰덊샇 �뀓�뒪�듃�궃*/
    padding-top: 8px;
    padding-bottom: 5px;
    width: 400px;
}
.Info-container2{ /*�씠硫붿씪,�솃�럹�씠吏� �룷�븿 而⑦뀒�씠�꼫*/
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.Info3{ /*�씠硫붿씪 �씪踰�, �씠硫붿씪 �뀓�뒪�듃�궃 �룷�븿 div*/
    display: inline-block;
    margin-right: 34px;
}
.Info_e-mail{ /*�씠硫붿씪 �씪踰�*/
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 12px;

    border:ridge; /*�뀒�몢由� 紐⑥뼇*/
    border-top-width: 2px; /*�뀒�몢由� 援듦린*/
    border-bottom-width: 2px; /*�뀒�몢由� 援듦린*/
    border-left-width: 2px; /*�뀒�몢由� 援듦린*/
    border-right-width: 2px; /*�뀒�몢由� 援듦린*/

    border-top-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-top-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
}
.e-mail_content{ /*�씠硫붿씪 �뀓�뒪�듃�궃*/
    padding-top: 8px;
    padding-bottom: 5px;
    width: 400px;
}
.Info4{ /*�솃�럹�씠吏� �씪踰�, �솃�럹�씠吏� �뀓�뒪�듃�궃 �룷�븿 div*/
    display: inline-block;
}
.Info_Homepage{ /*�솃�럹�씠吏� �씪踰�*/
    padding: 4px;
    border:ridge; /*�뀒�몢由� 紐⑥뼇*/
    border-top-width: 2px; /*�뀒�몢由� 援듦린*/
    border-bottom-width: 2px; /*�뀒�몢由� 援듦린*/
    border-left-width: 2px; /*�뀒�몢由� 援듦린*/
    border-right-width: 2px; /*�뀒�몢由� 援듦린*/
    border-top-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-top-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
}
.Homepage_content{ /*�솃�럹�씠吏� �뀓�뒪�듃�궃*/
    padding-top: 8px;
    padding-bottom: 5px;
    width: 400px;
}
.Info_Title{ /*�젣紐� �씪踰�*/
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 20px;
    padding-right: 20px;

    border:ridge; /*�뀒�몢由� 紐⑥뼇*/
    border-top-width: 2px; /*�뀒�몢由� 援듦린*/
    border-bottom-width: 2px; /*�뀒�몢由� 援듦린*/
    border-left-width: 2px; /*�뀒�몢由� 援듦린*/
    border-right-width: 2px; /*�뀒�몢由� 援듦린*/

    border-top-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-top-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
}
.Title_content{ /*�젣紐� �뀓�뒪�듃�궃*/
    padding-top: 8px;
    padding-bottom: 5px;
    width: 920px;
    margin-left: 1px;
    margin-bottom: 10px;
}
.Text_Area{
    width: 1000px;
    height: 200px;
    margin-bottom: 10px; 
}
.File1{ /*�뙆�씪#1 �씪踰�, �뙆�씪#1 �뀓�뒪�듃�궃 �룷�븿 div*/
    margin-bottom: 10px;
    margin-right: 10px;
}
.File_1{ /*�뙆�씪#1 �씪踰�*/
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 11px;
    padding-right: 11px;
    border:ridge; /*�뀒�몢由� 紐⑥뼇*/
    border-top-width: 2px; /*�뀒�몢由� 援듦린*/
    border-bottom-width: 2px; /*�뀒�몢由� 援듦린*/
    border-left-width: 2px; /*�뀒�몢由� 援듦린*/
    border-right-width: 2px; /*�뀒�몢由� 援듦린*/
    border-top-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-top-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
}
.File1_content{ /*�뙆�씪#1 �뀓�뒪�듃�궃*/
    padding-top: 8px;
    padding-bottom: 5px;
    width: 800px;
}
.File1_button{
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
}
.File2{ /*�뙆�씪#2 �씪踰�, �뙆�씪#2 �뀓�뒪�듃�궃 �룷�븿 div*/
    margin-bottom: 10px;
    margin-right: 10px;   
}
.File_2{ /*�뙆�씪#2 �씪踰�*/
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 11px;
    padding-right: 11px;
    border:ridge; /*�뀒�몢由� 紐⑥뼇*/
    border-top-width: 2px; /*�뀒�몢由� 援듦린*/
    border-bottom-width: 2px; /*�뀒�몢由� 援듦린*/
    border-left-width: 2px; /*�뀒�몢由� 援듦린*/
    border-right-width: 2px; /*�뀒�몢由� 援듦린*/
    border-top-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-top-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-right-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
    border-bottom-left-radius: 5px; /*�뀒�몢由� 紐⑥꽌由� �뫁湲�寃�*/
}
.File2_content{ /*�뙆�씪#2 �뀓�뒪�듃�궃*/
    padding-top: 8px;
    padding-bottom: 5px;
    width: 800px;
}
.File2_button{
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
}
.Button-container{
    padding-bottom : 1px;
    margin: 40px 0 20px;
    float: right;
}
.Complete_button{ /*�옉�꽦 �셿猷뚮쾭�듉*/
    font-weight: bold;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
}
.Complete_button:hover{
    color: black;
    background-color: transparent; /*留덉슦�뒪 �삱由щ㈃ 而ㅼ꽌諛붾��*/
}
.back_button{ /*�뮘濡쒓�湲� 踰꾪듉*/
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.back_button:hover{ /*�뮘濡쒓�湲� 踰꾪듉 留덉슦�뒪�삱由щ㈃*/
    color:white;
    background-color: transparent; /*留덉슦�뒪 �삱由щ㈃ 而ㅼ꽌諛붾��*/
}
/*�뮘濡쒓�湲� 踰꾪듉, �옉�꽦�셿猷� 踰꾪듉 , �뙆�씪�꽑�깮 踰꾪듉 臾몄젣 */

/** CONTENT FOR AUTHORITY **/

.Content-container105{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 60px;
}
.TellMe105{
    font-size: 25px;
    margin: 20px 0;
    font-weight: bold;
}
.Passward-Text105{
    position: relative;
    padding: 4px 9px;
    height: 19px;
    line-height: 19px;
    border: 1px solid #DBDBDB;
    background: 0 0;
}
.Passward-Button105{
    text-decoration: none!important;
    display: inline-block;
    padding: 0 12px!important;
    margin: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 24px!important;
    height: 25px!important;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    overflow: visible;
    background-color: #ECECEC;
    background-image: none;
    border: 0;
    border-radius: 2px;
    text-shadow: none;
    color: #000;
    box-shadow: none;
}

/** CONTENT FOR MAINBUSINESS **/

.panel-mainbusiness{
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    padding: 10px;
}
.panel-mainbusiness>.panel-heading {
	color: #000000;
	background-color: #fff;
	border-color: #fff;
	text-align:left;
}
.panel-destruction > .panel-heading {
    color: #fff;
    background-color: #5d8db6;
    border-color: #5d8db6;
}
.panel-disposal > .panel-heading {
    color: #fff;
    background-color: #d45839;
    border-color: #d45839;
}
.panel-destruction,
.panel-disposal {
    border-color: #bbbbbb;
}
.table-destruction tr >td,
.table-disposal tr> td{
    text-align: center;
}

/** CONTENT FOR GALLERY**/

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid rgb(76, 103, 192);
    border-radius: 5px;
    text-align: center;
    color: rgb(76, 103, 192);
    margin-bottom: 30px;
    width:150px;
    margin-right: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid rgb(76, 103, 192);
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(76, 103, 192);

}
.btn-default:active .filter-button:active
{
    background-color: rgb(76, 103, 192);
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

/** CONTENT FOR LOGIN & REGISTER **/

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"],.panel-login input[type="tel"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
